@font-face {
  font-family: "iconfont"; /* Project id 4861901 */
  src: url('//at.alicdn.com/t/c/font_4861901_ypfb2ss5d8s.woff2?t=1743565055963') format('woff2'),
       url('//at.alicdn.com/t/c/font_4861901_ypfb2ss5d8s.woff?t=1743565055963') format('woff'),
       url('//at.alicdn.com/t/c/font_4861901_ypfb2ss5d8s.ttf?t=1743565055963') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fankui:before {
  content: "\e738";
}

.icon-xiaoxi:before {
  content: "\e60a";
}

.icon-fenlei:before {
  content: "\e638";
}

.icon-fenlei-xuanzhong:before {
  content: "\e639";
}

.icon-rank:before {
  content: "\e66b";
}

.icon-rankfill:before {
  content: "\e66c";
}

.icon-zan:before {
  content: "\e601";
}

.icon-shoucangxuanzhong:before {
  content: "\e602";
}

.icon-shoucang2:before {
  content: "\e603";
}

.icon-zanxuanzhong:before {
  content: "\e604";
}

.icon-31pinglun:before {
  content: "\e605";
}

.icon-sanjiaoxia:before {
  content: "\e650";
}

.icon-search:before {
  content: "\e685";
}

.icon-jia:before {
  content: "\e600";
}

.icon-more:before {
  content: "\e710";
}

.icon-chuangzuo:before {
  content: "\e8ad";
}

.icon-shezhi:before {
  content: "\e8b7";
}

.icon-shequ:before {
  content: "\e8b8";
}

.icon-shoucang:before {
  content: "\e8b9";
}

.icon-shouye:before {
  content: "\e8ba";
}

.icon-wode:before {
  content: "\e8bb";
}

.icon-shequ1:before {
  content: "\e8c5";
}

.icon-wode1:before {
  content: "\e8c6";
}

.icon-shouye1:before {
  content: "\e8c7";
}

.icon-shoucang1:before {
  content: "\e8c8";
}

.icon-chuangzuo1:before {
  content: "\e8ca";
}
